*{
    margin: 0;
    font-family: 'Montserrat';
}

.page1{
    background: #FAFAFA;
    padding-bottom: 100px;
}

.nav{
    display: flex;
    padding-top: 25px;
}

.nav__logo{
padding-left: 40px;
width: 130px;
height: 32px;
font-size: 24px;
line-height: 32px;
letter-spacing: 0.1px;
color: #252B42;
margin-bottom: 200px;
}

li {
    list-style-type: none;
}

.nav__links{
    display: flex;
    gap: 20px;
    padding-left:600px; 
}
.nav__link{
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 24px;
text-align: center;
letter-spacing: 0.2px;
color: #737373;
}

a{
    text-decoration: none;
}


.page1__heading{
 width: 727px;
height: 160px;
font-style: normal;
font-size: 58px;
line-height: 80px;
text-align: center;
letter-spacing: 0.2px;
color: #252B42;
}

.page1__body{
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
}

.page1__para{
    width: 539px;
height: 60px;

font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;

text-align: center;
letter-spacing: 0.2px;

/* second-text-color */

color: #737373;

}

.page1__btns-block{
    padding-top: 20px;
    display: flex;
    gap: 20px;
}

.page1__btn1{
    display: block;
    border: none;
       /* display: flex;
flex-direction: column;
align-items: center;
padding: 10px 36px;
gap: 10px; */

width: 240px;
height: 54px;
background: #FFA62B;
border-radius: 37px;
}

.page1__btn1-words{
width: 200px;
height: 28px;
padding-left: 12px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 28px;
text-align: center;
letter-spacing: 0.2px;
color: #FFFFFF;
}

.page1__btn2{
    box-sizing: border-box;
display: flex;
flex-direction: column;
align-items: center;
padding: 10px 36px;
gap: 10px;
width: 184px;
height: 54px;
border: 2px solid #00A0C1;
border-radius: 37px;
background: #FAFAFA;

}

.page1__btn2-words{
    margin-top: 5px;
    width: 180px;
    height: 50px;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 14px;
text-align: center;
letter-spacing: 0.2px;
color: #00A0C1;
}





.page2{
    padding-top: 150px;
}

.page2__head{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 60px;
}

.page2__heading{
    width: 403px;
height: 57px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 57px;
letter-spacing: 0.2px;
color: #252B42;

}

.page2__para{
    width: 470px;
height: 40px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
text-align: center;
letter-spacing: 0.2px;
color: #737373;

}

.page2__cards{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card1{
    padding-left: 85px;
    padding-bottom: 100px;
    display: flex;
    gap: 60px;
}

.card{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 35px 40px;
gap: 15px;

width: 250px;
height: 193px;

background: #FFFFFF;
border: 1px solid #E8E8E8;

}

.card__head{
    display: flex;
    gap: 20px;
}


.card__heading{
    width: 143px;
height: 24px;
    padding-top: 20px;
}





.card__para{
    width: 200px;
height: 60px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 14px;
letter-spacing: 0.5px;
color: #737373;
}



.page3{
    background: #FAFAFA;
}

.page3__head{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.page3__heading{

    width: 501px;
height: 114px;

/* h2 */

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 57px;
/* or 142% */

text-align: center;
letter-spacing: 0.2px;

/* text-color */

color: #252B42;
}

.page3__para{
    width: 470px;
    height: 40px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
}

.page3__body{
    padding-top: 200px;
}

.page3__body-bg{
    padding-top: 50px;
    display: block;
    width: 100%;
    height: 330px;
    background: #006b5b;
}

.page3__body-img{
    position: absolute;
    left: 200px;
    top: 2120px;
}


.page4{
    padding-top: 100px;
    background: #FAFAFA;
}

.page4__body{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.page4__heading{
    padding-left: 130px;
    width: 476px;
height: 20px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 57px;
letter-spacing: 0.2px;
color: #252B42;

}

.page4__para{
    width: 470px;
height: 40px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
text-align: center;
letter-spacing: 0.2px;
color: #737373;

}

.page4__cards{
    display: flex;
    gap: 30px;
    padding-left: 50px;

}



.card4{
    display: block;
    background: #FFFFFF;
border: 1px solid #DEDEDE;
border-radius: 5px;
width: 327px;
height: 244px;
margin-top: 70px;
margin-left: 30px;
margin-bottom: 150px;
}

.card4__content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 40px;
    padding-bottom: 20px;
}

.header{
    display:flex;
    padding-top: 20px;
    gap: 5px;

}
.card4__para{
    width: 234px;
height: 72px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.2px;
color: #737373;
}

.footer{
    display: flex;
    gap: 15px;
}

.footer__image{
    width: 50px;
    height: 50px;
}

.footer__name{
    width: 105px;
height: 10px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.2px;
color: #FFA62B;

}

.footer__caption{
    width: 67px;
height: 14px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.2px;
color: #252B42;

}

.footer__words{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
